.main {
  .panel {
    display: flex;
    justify-content: space-between;
    button {
      cursor: pointer;
      background: #4F4F4F;
      box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
      border-radius: 5px;
      padding: 7px 20px;
      font-size: 18px;
      color: #fff;
      &:active {
        background-color: #4793FF;
      }
    }
    .mainPanel {
      display: flex;
      gap: 15px;
    }
  }
  .info {
    display: flex;
    background-color: #4F4F4F;
    padding: 20px;
    gap: 20px;
    box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
    border-radius: 0px 0px 20px 20px;
    margin-top: 7px;

    .card {
      display: flex;
      flex-direction: column;
      gap: 15px;
      background-color: #2E3035;
      width: 150px;
      height: 200px;
      padding: 11px;
      border-radius: 10px;
      .topBlock {
        display: flex;
        flex-direction: column;
        gap: 3px;
      }
      .time,
      .day {
        font-size: 18px;
        font-weight: 500;
      }

      .data,
      .night,
      .weather {
        font-size: 14px;
        font-weight: 400;
        color: #939CB0;
      }
    }
  }
}